<div class="crypto-table">
    <h2>貨幣資料</h2>
    <button onclick="showAddModal()">新增貨幣</button>
    <table id="cryptoTable">
        <thead>
            <tr>
                <th>幣種</th>
                <th>策略</th>
                <th>憑證</th>
                <th>狀態</th>
                <th>操作</th>
                <th>訂閱者</th>
            </tr>
        </thead>
        <tbody>
            <!-- 數據將通過JavaScript動態添加 -->
        </tbody>
    </table>
</div>
</div>

<!-- 新增/編輯貨幣的模態框 -->
<div id="cryptoModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeDashboardModal()">&times;</span>
        <h2 id="modalTitle">新增/編輯貨幣</h2>
        <p>
            <strong>幣種：</strong>
            <input type="text" id="modalCoin" placeholder="Enter Coin">
        </p>
        <p>
            <strong>資料：</strong>
            <textarea id="modalData" placeholder="Enter Data"></textarea>
        </p>
        <button onclick="saveCrypto()">保存</button>
    </div>
</div>


<!-- 刪除貨幣的模態框 -->
<div id="cryptoDeleteModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeDashboardModal()">&times;</span>
        <h2>刪除貨幣</h2>
        <p>
            <strong>幣種：</strong>
            <span id="deleteSymbo"></span>
            <input type="hidden" id="modalCoinDel">
            <input type="hidden" id="modalCertDel">
        </p>
        <button id="deletesymbobtn" onclick="deleteCrypto()" class="delete-btn">刪除</button>
    </div>
</div>

<script src="/static/js/dashboard.js?{{ .StaticFileVersion }}"></script>