{{ template "afterloginheader.html" . }}
<div class="dashboard">
    <h1>訂閱</h1>
    <table>
        <thead>
            <tr>
                <th>幣種</th>
                <th>盤種</th>
                <th>狀態</th>
                <th>投入金額</th>
                <th>記錄</th>
            </tr>
        </thead>
        <tbody>
            {{range .data}}
            <tr>
                <td>
                    {{ .CurrencySymbolBase.Symbol }}
                </td>
                <td>
                    {{ if .Simulation }}
                    <span class="status-toggle">模擬</span>
                    {{ else }}
                    <span class="status-toggle disabled">實盤</span>
                    {{ end }}
                </td>
                <td>
                    {{ if .CurrencySymbolBase.Status }}
                    <span class="status-toggle">啟用</span>
                    {{ else }}
                    <span class="status-toggle disabled">停用</span>
                    {{ end }}
                </td>
                <td>
                    {{ addf .Amount .Leverage }} = {{ .Amount }} * {{ .Leverage }}倍 
                </td>
                <td><a href="/customers/placeorderhistory?symbol={{ .CurrencySymbolBase.Symbol }}&cid={{ $.cid }}">記錄</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{ template "beforeloginfooter.html" . }}