{{ template "afterloginheader.html" . }}
<div class="dashboard">
    <h1>客戶列表</h1>
    <table>
        <thead>
            <tr>
                <th>主帳號</th>
                <th>子帳號</th>
                <th>訂閱資料</th>
            </tr>
        </thead>
        <tbody>
            {{range .data}}
            <tr>
                <td>
                    {{ if not .Parent_Name }}
                        {{.Customer.Name}}
                        ({{.Customer.Email}})
                    {{else}}
                        {{.Parent_Name}}
                    {{end}}
                </td>
                <td>
                    {{ if .Parent_Name }}
                        {{ .Customer.Name }}
                    {{end}}
                </td>
                <td>
                    <a href="/restadmin/customersubscribe?cid={{.Customer.ID}}">訂閱</a> | 
                    <a href="/restadmin/customerdata?cid={{.Customer.ID}}">資料</a> <br>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{ template "beforeloginfooter.html" . }}