{{ template "afterloginheader.html" . }}
<div class="dashboard">
    <h1>訂閱資料 - {{.symbol}}</h1>
    <table>
        <thead>
            <tr>
                <th>帳號</th>
                <th>主帳號</th>
                <th>種類</th>
                <th>狀態</th>
                <th>金額</th>
                <th>記錄</th>
            </tr>
        </thead>
        <tbody>
            {{range .data}}
            <tr>
                <td>
                    {{ if .CustomerRelationUI.Parent_Name }}
                        {{.CustomerRelationUI.Customer.Name}}
                    {{ else }}
                        {{.CustomerRelationUI.Customer.Email}}
                        ({{.CustomerRelationUI.Customer.Name}})
                    {{end}}
                </td>
                <td>{{.CustomerRelationUI.Parent_Name}}</td>
                <td>
                    {{ if .Simulation }}
                    <span class="status-toggle">模擬</span>
                    {{ else }}
                    <span class="status-toggle disabled">實盤</span>
                    {{ end }}
                </td>
                <td>
                    {{ if .Status }}
                    <span class="status-toggle">啟用</span>
                    {{ else }}
                    <span class="status-toggle disabled">停用</span>
                    {{ end }}
                </td>
                <td>{{.Amount}} * {{.Leverage}}</td>
                <td><a href="/customers/placeorderhistory?symbol={{ .Symbol }}&cid={{.CustomerID}}">記錄</a></td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{ template "beforeloginfooter.html" . }}