<div class="crypto-table">
    可用餘額：<span id="availableamount" onclick="getAvailableAmount(this)">*******</span>
    <h2>貨幣資料</h2>
    若為馬丁策略，請自行調整持倉模式為：<span class="high-message">全倉</span>，不然很有可能沒加到倉就被強平了。<Br>
    系統預設以1000U做為比例下單，公式為：1000 * (投入金額 * 槓桿 /1000)。<Br>
    例如：50U X 10倍 = 1000 * 50 * 10 / 1000 = 500U<Br>
    25U * 20倍 = 1000 * 25 * 20 / 1000 = 500U<br>
    <table id="cryptoTable">
        <thead>
            <tr>
                <th>幣種</th>
                <th>狀態</th>
                <th>盤種</th>
                <th>投入金額、槓桿</th>
                <th>記錄</th>
            </tr>
        </thead>
        <tbody>
            <!-- 數據將通過JavaScript動態添加 -->
        </tbody>
    </table>
</div>
</div>

<script src="/static/js/dashboardcustomer.js"></script>