{{ template "afterloginheader.html" . }}
<div class="dashboard">
    <div class="title-container">
        <h1>跟單系統</h1>
        <button class="menu-button" onclick="toggleSystemMenu()">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="menu-popup" id="menuPopup">
        <ul>
            <li><a href="/demo/">
                    <span class="fa-solid fa-chart-line demo-icon">
                        績效展示</span></a></li>
            <li><a href="/subaccount/"><span class="fa-solid fa-users">
                        子帳戶管理</span></a></li>
            <li style="float: right;"><button class="logout-btn" onclick="logout()">登出</button></li>
        </ul>
    </div>

    <div class="user-info">
        <div class="user-avatar" id="userAvatar"><img src="{{ .Photo }}"></div>
        <div class="user-details">
            <h3 id="userName">{{ .Name }}</h3>
            <p id="userEmail">{{ .Email }}</p>
        </div>
    </div>

    {{ if .IsAdmin }}
    {{ template "adminblock.html" . }}
    {{ else }}
    <div class="api-keys">
        <div class="api-keys-header" onclick="toggleCustomerSettings()">
            <h2>設定</h2>
        </div>
        <div class="api-keys-content">
            <p>
                <strong>API Key：</strong>
                <input type="text" id="apiKey" placeholder="Enter API Key" value="{{ .ApiKey }}">
                <strong>Secret Key：</strong>
                <input type="text" id="secretKey" placeholder="Enter Secret Key" value="{{ .SecretKey }}">
            </p>
            <div class="auto-follow-settings">
                <h3>自動跟單設定</h3>
                <div class="setting-group">
                    自動跟隨新幣種狀態：
                    <span class="status-toggle {{ if not .AutoSubscribeStatus }}disabled{{ end }}"
                        onclick="toggleSubscribeStatus(this)" id="SubscribeStatus">
                        {{ if .AutoSubscribeStatus }}啟用{{ else }}停用{{ end }}
                    </span>
                </div>
                <span id="GroupSubscribeType" class="{{ if not .AutoSubscribeStatus }}displayNone{{ end }}">
                    跟隨盤種：
                    <span class="status-toggle  {{ if not .AutoSubscribeType }}disabled{{ end }}"
                        onclick="toggleSubscribeType(this)" id="SubscribeType">
                        {{ if .AutoSubscribeType }}實盤{{ else }}模擬{{ end }}
                    </span>
                    <div id="amountSetting" class="setting-group {{ if not .AutoSubscribeType }}displayNone{{ end }}">
                        <label for="amount">金額：</label>
                        <input type="number" id="SubscribeAmount" value="{{ .AutoSubscribeAmount }}"
                            placeholder="輸入跟單金額">X10倍槓桿
                    </div>
                </span>
            </div>
            <button onclick="saveKeys()">保存</button>
        </div>
    </div>
    {{ template "customerblock.html" . }}
    {{ end }}

    {{ template "beforeloginfooter.html" . }}

    <!-- 顯示資料內容的模態框 -->
    <div id="dataModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeDataModal()">&times;</span>
            <h2 id="dataModalTitle"></h2>
            <p id="dataModalContent"></p>
        </div>
    </div>

    <script>
        document.getElementById('userAvatar').textContent = "X"
    </script>