{{ template "afterloginheader.html" . }}
<div class="dashboard">
    <h1>跟單系統</h1>
    <div class="user-info">
        <div class="user-avatar" id="userAvatar"><img src="{{ .Photo }}"></div>
        <div class="user-details">
            <h3 id="userName">{{ .Name }}</h3>
            <p id="userEmail">{{ .Email }}</p>
        </div>
        <button class="logout-btn" onclick="logout()">登出</button>
    </div>

{{ if .IsAdmin }}
    {{ template "adminblock.html" . }}
{{ else }}
    <div class="api-keys">
        <h2>API Keys</h2>
        <p>
            <strong>API Key：</strong>
            <input type="text" id="apiKey" placeholder="Enter API Key" value="{{ .ApiKey }}">
        </p>
        <p>
            <strong>Secret Key：</strong>
            <input type="text" id="secretKey" placeholder="Enter Secret Key" value="{{ .SecretKey }}">
        </p>
        <button onclick="saveKeys()">保存</button>
    </div>
    {{ template "customerblock.html" . }}
{{ end }}

{{ template "beforeloginfooter.html" . }}

<!-- 顯示資料內容的模態框 -->
<div id="dataModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeDataModal()">&times;</span>
        <h2 id="dataModalTitle"></h2>
        <p id="dataModalContent"></p>
    </div>
</div>

<script src="/static/js/common.js"></script>
<script>
    document.getElementById('userAvatar').textContent = "X"
</script>