{{ template "afterloginheader.html" . }}
<nav class="nav-bar">
    <button class="back-button"><a href="/">回到首頁</a></button>
</nav>
<div class="dashboard">
    <h1>下單歷史 - {{.symbol}}</h1>
    <p>手續費：內含開倉、平倉手續費及持倉資金費率總合。</p>
    <p>利潤：為交易獲利。</p>
    <table>
        <thead>
            <tr>
                <th>時間</th>
                <th>交易類型</th>
                <th>價格</th>
                <th>數量</th>
                <th>手續費</th>
                <th>獲利</th>
                <th>結果</th>
            </tr>
        </thead>
        <tbody>
            {{range .data}}
            <tr>
                <td>{{.Time}}</td>
                <td>{{.Position}}</td>
                <td>{{.Price}}</td>
                <td>{{.Amount | formatFloat64 6}}</td>
                <td>{{.Fee | formatFloat64 6}}</td>
                <td>{{.Profit}}</td>
                <td>{{.Result}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
    <div class="pagination">
        {{if gt .page 1}}
        <a href="?symbol={{.symbol}}&page={{subtract .page 1}}&pageSize={{.pageSize}}&cid={{ .cid }}">&laquo;</a>
        {{end}}
        {{range $i := iterate 1 .totalPages}}
        <a href="?symbol={{$.symbol}}&page={{$i}}&pageSize={{$.pageSize}}&cid={{ $.cid }}" {{if eq $i $.page}}class="active"
            {{end}}>{{$i}}</a>
        {{end}}
        {{if lt .page .totalPages}}
        <a href="?symbol={{.symbol}}&page={{add .page 1}}&pageSize={{.pageSize}}&cid={{ .cid }}">&raquo;</a>
        {{end}}
    </div>
</div>
{{ template "beforeloginfooter.html" . }}