{{ template "afterloginheader.html" . }}
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    img {
        max-width: 30%;
        height: auto;
    }
    .identifier {
        font-size: 24px;
        font-weight: bold;
        color: #4a4a4a;
        margin: 10px 0;
    }
    .command {
        background-color: #e9e9e9;
        padding: 10px;
        border-radius: 4px;
        font-family: monospace;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
    }
    .copy-icon {
        cursor: pointer;
        color: #666;
        transition: color 0.3s ease;
    }
    .copy-icon:hover {
        color: #333;
    }
    .back-button {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    .back-button a {
        color: white;
        text-decoration: none;
    }
</style>
<div class="container">
    <nav class="nav-bar">
        <button class="back-button"><a href="/customers/dashboard">回到上頁</a></button>
    </nav>
    <div class="dashboard">
        <h1>Telegram設定</h1>
        <div class="img-container">
            <img src="/static/images/tgbot.png" alt="Telegram Bot" />
        </div>
        <p>此為您的識別碼：</p>
        <div class="identifier">{{.tgidentifykey}}</div>
        {{ if not .islinked }}
        <p>請在Telegram中輸入以下指令綁定：</p>
        <div class="command">
            <span id="commandText">/set id {{.tgidentifykey}}</span>
            <i class="fas fa-copy copy-icon" onclick="copyCommand()" title="複製指令"></i>
        </div>
        {{ else }}
        <p>可以在Telegram中輸入以下指令<span class="high-message">解除綁定</span>：</p>
        <div class="command">
            <span id="commandText">/unset id {{.tgidentifykey}}</span>
            <i class="fas fa-copy copy-icon" onclick="copyCommand()" title="複製指令"></i>
        </div>
        {{ end }}
    </div>
</div>

<script src="/static/js/common.js"></script>
<script>
    function copyCommand() {
        const commandText = document.getElementById('commandText').innerText;
        navigator.clipboard.writeText(commandText).then(() => {
            alert('指令已複製到剪貼簿！');
        }).catch(err => {
            console.error('無法複製文字: ', err);
        });
    }
</script>

{{ template "beforeloginfooter.html" . }}