# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Testing
*.test
*.out

# IDE files
.idea/
.vscode/

# Vendor directory
vendor/

# Logs
*.log

# Firebase
serviceAccountKey*
firebaseConfig_dev.json
src/serviceAccountKey*
src/firebaseConfig*