{{ template "afterloginheader.html" . }}
<style>
    #demoCryptoTable {
        width: 100%;
        border-collapse: collapse;
    }

    #demoCryptoTable td:not(:first-child):not(:nth-child(2)) {
    text-align: right;
}
</style>
<nav class="nav-bar">
    <button class="back-button" onclick="window.location.href='/demo?d={{.days}}'">回到上頁</button>
</nav>
<div class="dashboard">
    <h1>下單歷史 - {{.symbol}}</h1>
    <p>手續費：內含開倉、平倉手續費及持倉資金費率總合。</p>
    <p>利潤：為交易盈虧。</p>
    <table id="demoCryptoTable">
        <thead>
            <tr>
                <th>時間</th>
                <th>交易類型</th>
                <th>價格</th>
                <th>數量</th>
                <th>手續費</th>
                <th>獲利</th>
            </tr>
        </thead>
        <tbody>
            {{range .data}}
            <tr>
                <td>{{.Time}}</td>
                <td>{{.Position}}</td>
                <td>{{.Price}}</td>
                <td>{{.Amount | formatFloat64 6}}</td>
                <td>{{.Fee | formatFloat64 4}}</td>
                <td>{{.Profit | formatFloat64 4}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>
{{ template "beforeloginfooter.html" . }}