{{ template "beforeloginheader.html" . }}
<div class="login-box">
    <h1>跟單系統</h1>
    <span>
        <p>Name: {{ .Name }}</p>
        <p>Email: {{ .Email }}</p>
    </span>
    <form id="create-account-form" action="/customers/create_account" method="post">
        <button type="submit" id="create-account-button">建立帳號</button>
        <button class="btn-secondary" id="logoutBtn">取消</button>
    </form>
</div>

<script>
    document.getElementById('create-account-form').addEventListener('submit', function (event) {
        event.preventDefault();
        document.getElementById('loader').style.display = 'block';

        fetch('/customers', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: '{{ .Name }}',
                email: '{{ .Email }}'
            })
        })
            .then(response => response.json())
            .then(data => {
                document.getElementById('loader').style.display = 'none';
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById('loader').style.display = 'none';
            });
    });

    document.getElementById('logoutBtn').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('loader').style.display = 'block';

        fetch('/auth/google', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            window.location = response.url
        }).then(data => console.log(data))
            .catch(error => console.error('Error:', error));
    });
</script>

{{ template "beforeloginfooter.html" . }}