{{ template "beforeloginheader.html" . }}

<style>
    .demo-icon {
        color: #ff8157;
        cursor: pointer;
        float: right;
    }
</style>
<div class="login-box">
    <span class="fa-solid fa-chart-line demo-icon" id="demo-icon">實時績效</span>
    <h1>跟單系統</h1>
    <button id="login-button" class="btn">
        <i class="fab fa-google"></i>
        使用 Google 登入
    </button>
</div>

<script>
    fetch('/misc/fireAuthConfig')
        .then(response => response.json())
        .then(config => {
            firebase.initializeApp(config);

            document.getElementById('login-button').addEventListener('click', () => {
                document.getElementById('loader').style.display = 'block';
                const provider = new firebase.auth.GoogleAuthProvider();
                firebase.auth().signInWithPopup(provider)
                    .then(result => {
                        console.log(result)
                        result.user.getIdToken().then(idToken => {
                            fetch('/auth/google', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ token: idToken })
                            }).then(response => {
                                window.location = response.url
                            })
                                .then(data => console.log(data))
                                .catch(error => console.error('Error:', error));
                        });
                    })
                    .catch(error => {
                        console.error('Authentication error:', error);
                        document.getElementById('loader').style.display = 'none';
                    });
            });
        })
        .catch(error => {
            console.error('Error fetching config:', error);
            document.getElementById('loader').style.display = 'none';
        });

    document.getElementById('demo-icon').addEventListener('click', () => {
        window.location.href = '/demo';
    });        
</script>

{{ template "beforeloginfooter.html" . }}