<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>跟單系統</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/10.12.2/firebase-app-compat.min.js"
        integrity="sha512-7VG+AGc4sddCVxEvzT+Z8fjIWq1Hrnnhp2swwiXXNnKT1cYB4vCyHPFO6JhQjQQ/oa26fNK0mpFg4vTvxBS3sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/10.12.2/firebase-firestore-compat.min.js"
        integrity="sha512-tR8LqQ63s+NuKDdtuehjKG13GGxKoTWXsF7qhgdc3l6vul6Wo8N7qnHTCuOJmQ8LdUC+7HphupqtMXysWZN5vg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/10.12.2/firebase-auth-compat.min.js"
        integrity="sha512-KjIesTv/W/AhBjwjMjEzMZgIKwfzBnvRhc/UCHWukIHJvpxTN8/vvYHX7cwQSc4OcwYAjLd6cAWbAuFqR5vZCA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/style.css" />

</head>

<body>
    <div class="loader" id="loader"></div>
    <div class="container">