<div class="title-container">
    <button class="menu-button" onclick="toggleSystemMenu()">
        <i class="fas fa-bars"></i>
    </button>
</div>
<div class="menu-popup" id="menuPopup">
    <ul>
        <li><a href="/">
                <span class="fa-solid fa-house home-icon">
                </span> 首頁</a></li>
        <li><a href="/demo/">
                <span class="fa-solid fa-chart-line demo-icon">
                </span> <span class="demo-icon">績效展示</span></a></li>
        {{ if .IsAdmin }}
        <li><a href="/restadmin/customers"><span class="fa-solid fa-users">
                </span> 帳戶管理</a></li>
        {{ else }}
        <li><a href="/subaccount/"><span class="fa-solid fa-users">
                </span> 子帳戶管理</a></li>
        <li><a href="/customers/linktg"><span class="fa-brands fa-telegram">
                </span> Telegram設定</a></li>
        {{ end}}
        <li style="float: right;"><button class="logout-btn" onclick="logout()">登出</button></li>
    </ul>
</div>