<div class="title-container">
    <button class="menu-button" onclick="toggleSystemMenu()">
        <i class="fas fa-bars"></i>
    </button>
</div>
<div class="menu-popup" id="menuPopup">
    <ul>
        <li><a href="/">
                <span class="fa-solid fa-house home-icon">
                    首頁</span></a></li>
        <li><a href="/demo/">
                <span class="fa-solid fa-chart-line demo-icon">
                    績效展示</span></a></li>
        <li><a href="/subaccount/"><span class="fa-solid fa-users">
                    子帳戶管理</span></a></li>
        <li style="float: right;"><button class="logout-btn" onclick="logout()">登出</button></li>
    </ul>
</div>