<div class="title-container">
        <button class="menu-button" onclick="toggleSystemMenu()">
                <i class="fas fa-bars"></i>
        </button>
</div>
<div class="menu-popup" id="menuPopup">
        <ul>
                <li class="fa-solid fa-house home-icon"><a href="/">首頁</a></li>
                <li class="fa-solid fa-chart-line demo-icon"><a href="/demo/"><span class="demo-icon">績效展示</span></a>
                </li>
                <li class="fa-solid fa-user-group"><a href="/subaccount/">子帳戶管理</a></li>
                {{ if .IsAdmin }}
                <li class="fa-solid fa-users"><a href="/restadmin/customers">帳戶管理</a></li>
                {{ else }}
                <li class="fa-brands fa-telegram"><a href="/customers/linktg">Telegram設定</a></li>
                <li class="fa-solid fa-print"><a href="/customers/report">盈虧報表</a></li>
                {{ end}}
                <li style="float: right;"><button class="logout-btn" onclick="logout()">登出</button></li>
        </ul>
</div>